<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header">
<div class="d-flex flex-column">
    <div class="profile">
      <img src="assets/img/profile-img-nav.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Jordan Landers</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://github.com/jordanplanders" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://bsky.app/profile/jordanplanders.bsky.social" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://scholar.google.com/citations?hl=en&user=1PVSSxwAAAAJ" class="google"><i class="bx bxl-google"></i></a>
        <a href="https://orcid.org/0000-0001-9772-7617" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
    <!-- NAV GENERATED START -->
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#overview" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Overview</span></a></li>
      </ul>
      <ul>
        <li class="nav-section-label"><span></span></li>
        <li class="nav-dropdown">
          <details>
            <summary><i class="bx bx-book-reader"></i> <span>Research</span></summary>
            <ul>
              <li><a href="pres_pub.html" class="nav-link"><i class="bx bx-book-content"></i> <span>Publications &amp; Presentations</span></a></li>
              <li><a href="science/nonlin_causality.html" class="nav-link"><i class="bx bx-person-raised-hand"></i> <span>Nonlinear Causality</span></a></li>
              <li><a href="science/etc.html" class="nav-link"><i class="bx bx-person-raised-hand"></i> <span>Everything Else</span></a></li>
            </ul>
          </details>
        </li>
        <li><a href="software.html" class="nav-link"><i class="bx bx-terminal"></i> <span>Software</span></a></li>
        <li><a href="openscience_edu.html" class="nav-link"><i class="bx bx-news"></i> <span>Open Science Education</span></a></li>
      </ul>
    <!-- NAV GENERATED END -->
    </nav>
  </div>
</header>

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <!-- <h1>Jordan Landers</h1> -->
    <div class="hero-name">Jordan Landers</div>

    <p><span class="typed"
      data-typed-items="Paleoclimate Researcher, Chemical Oceanographer, Data Scientist, Open Source Contributor, Scientific Python Enthusiast"></span></p>
  </div>
</section>

<main id="main">
