<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jordan Landers</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Poppins" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img src="assets/img/profile-img-2.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Jordan Landers</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://github.com/jordanplanders" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://bsky.app/profile/jordanplanders.bsky.social" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://scholar.google.com/citations?hl=en&user=1PVSSxwAAAAJ" class="google"><i class="bx bxl-google"></i></a>
        <a href="https://orcid.org/0000-0001-9772-7617" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#news" class="nav-link scrollto"><i class="bx bx-news"></i> <span>News</span></a></li>
        <li><a href="#publication" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Publications</span></a></li>
        <li><a href="#community" class="nav-link scrollto"><i class="bx bx-group"></i> <span>Community</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav>
  </div>
</header>

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Jordan Landers</h1>
    <p><span class="typed" data-typed-items="Paleoclimate Researcher, Chemical Oceanographer, Data Scientist, Open Source Contributor, Scientific Python Enthusiast"></span></p>
  </div>
</section>

<main id="main">

<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
    </div>
    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/profile-img-2.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Interests</h3>
        <p>Paleoclimate, chemical oceanography, isotope geochemistry, nonlinear dynamics, regime shifts, fractals, empirical dynamical modeling, scientific Python, machine learning, cluster analysis, database design, pedagogy, neurodiversity in education.</p>
      </div>
    </div>
  </div>
</section>

<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
    </div>
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Ph.D. Candidate, Earth Sciences</h4>
          <h5>2022 - present</h5>
          <p><em>University of Southern California, Los Angeles, CA</em></p>
        </div>
        <div class="resume-item">
          <h4>MA, Earth and Environmental Science</h4>
          <h5>2010 - 2013</h5>
          <p><em>Columbia University, New York, NY</em></p>
        </div>
        <div class="resume-item">
          <h4>BA, Mathematics</h4>
          <h5>2004 - 2009</h5>
          <p><em>Williams College, Williamstown, MA</em></p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Research Assistant, Woods Hole Oceanographic Institution.</h4>
          <h5>2009 - 2010</h5>
          <ul>
            <li>Supervisor: Delia Oppo</li>
            <li>KNR 157 + Lab work</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Data Scientist, Neuroscience</h4>
          <h5>2017 - 2019</h5>
          <ul>
            <li>NSF iCorps EL</li>
            <li>Assessing cognitive impairment using MFDFA</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Data Scientist, Syntouch Inc</h4>
          <h5>2020 - 2022</h5>
          <ul>
            <li>Haptics Consulting</li>
          </ul>
        </div>
        <h3 class="resume-title">Teaching</h3>
        <div class="resume-item">
          <ul>
            <li>2024 Teaching Assistant, GEOL351: Climate Dynamics (USC)</li>
            <li>2023 Instructor, BYOD Workshop (USC/ISI)</li>
            <li>2023 Teaching Assistant, GEOL150: Climate Change (USC)</li>
            <li>2022 Teaching Assistant, GEOL351: Climate Dynamics (USC)</li>
            <li>2012 Teaching Assistant, Chemical Oceanography (Columbia)</li>
            <li>2010 Teaching Assistant, Atmospheric Science (Columbia)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="news" class="facts section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Recent Presentations</h2>
      <ul>
        <li>2024: Seminar "Nothing like the Sun?" USC, Los Angeles</li>
        <li>2023: "PaleoCube" AGU Fall Meeting, San Francisco</li>
        <li>2023: "PaleoBooks Library" EarthCube Community Meeting, Marina del Rey</li>
        <li>2023: "Watermass classification" AGU Fall Meeting, San Francisco</li>
      </ul>
    </div>
  </div>
</section>
  <!-- ======= Portfolio Section ======= -->
  <section id="publication" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Publications</h2>
          <p> <a href="https://scholar.google.com/citations?user=1PVSSxwAAAAJ=en">Google Scholar</a> </p>
        </div>

        <div>
          <p style="font-weight: lighter;"><i>I consider that the “truth” lies at the intersection of physics, thermodynamics, geology, petrology, tectonics, fluid dynamics ... &mdash; Don L. Anderson</i></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-16 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter=".filter-all" class="filter-active">All</li>
              <li data-filter=".filter-oceanography">Oceanography</li>
              <li data-filter=".filter-climate">Climate</li>
              <li data-filter=".filter-datascience">Data Science</li>
              <li data-filter=".filter-etc">etc.</li>
            </ul>
          </div>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-oceanography filter-all">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/source.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/source.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Deep beneath, the fault unlocks, and Earth whispers through trembling waves."><i class="bx bx-plus"></i></a>
                <a href="publication-oceanography.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-climate filter-all">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/structure.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/structure.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Layer by layer, Earth reveals—a silent tale of fire and stone."><i class="bx bx-plus"></i></a>
                <a href="publication-climate.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-datascience filter-all">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/lab.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/lab.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="From rock to wave, in lab and land, we trace Earth's hidden hand."><i class="bx bx-plus"></i></a>
                <a href="publication-datascience.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-etc filter-all">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/lab.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/lab.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="From rock to wave, in lab and land, we trace Earth's hidden hand."><i class="bx bx-plus"></i></a>
                <a href="publication-etc.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-12 portfolio-item filter-all">
            <ul>
              <li><b>Landers, J.</b>, Emile-Geay, J., James, A., Munch, S., Khider, D. (2025). A causal examination of the solar influence on Holocene climate. Submitted.</li>
              <li>Khider, D., Emile-Geay, J., Zhu, F., James, A., <b>Landers, J.</b>, et al. (2022). Pyleoclim: Paleoclimate Timeseries Analysis and Visualization with Python. <i>Paleoceanography and Paleoclimatology</i>.</li>
              <li>Guilderson, T., Allen, K., <b>Landers, J.</b>, et al. (2021). Variability in Western Equatorial Atlantic during Last Deglaciation. <i>Paleoceanography and Paleoclimatology</i>.</li>
              <li>Zorick, T., <b>Landers, J.</b>, et al. (2020). EEG multifractal analysis correlates with cognitive testing scores. <i>Journal of Clinical Neuroscience</i>.</li>
            </ul>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-oceanography">
            <ul>
            </ul>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-climate">
            <ul>
              <li><b>Landers, J.</b>, Emile-Geay, J., James, A., Munch, S., Khider, D. (2025). A causal examination of the solar influence on Holocene climate. Submitted.</li>
              <li>Khider, D., Emile-Geay, J., Zhu, F., James, A., <b>Landers, J.</b>, et al. (2022). Pyleoclim: Paleoclimate Timeseries Analysis and Visualization with Python. <i>Paleoceanography and Paleoclimatology</i>.</li>
              <li>Guilderson, T., Allen, K., <b>Landers, J.</b>, et al. (2021). Variability in Western Equatorial Atlantic during Last Deglaciation. <i>Paleoceanography and Paleoclimatology</i>.</li>
            </ul>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-datascience">
            <ul>
            </ul>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-etc">
              <ul>
                <li>Zorick, T., <b>Landers, J.</b>, et al. (2020). EEG multifractal analysis correlates with cognitive testing scores. <i>Journal of Clinical Neuroscience</i>.</li>
              </ul>
          </div>


      </div>

    </div>
  </section><!-- End Portfolio Section -->


<section id="community" class="facts">
  <div class="container">
    <div class="section-title">
      <h2>Community Involvement</h2>
      <ul>
        <li>Developer, Pyleoclim (2022–present)</li>
        <li>Contributor, Pangeo-Forge (2022–present)</li>
        <li>Lead, PaleoBooks Library (2022–present)</li>
        <li>Outreach Contributor, Demerara Rise Cruise Blog (2010)</li>
      </ul>
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
    </div>
    <div class="row" data-aos="fade-in">
      <div class="col-lg-6 d-flex align-items-stretch">
        <div class="info">
          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p><a href="mailto:lpander@usc.edu">lpander@usc.edu</a></p>
          </div>
          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+1 310-467-2255</p>
          </div>
        </div>
      </div>
    </div>
    <i>Last Update: April 2025</i>
  </div>
</section>

</main>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Jordan Landers</span></strong>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/isotope/3.0.6/isotope.pkgd.min.js"></script>

  <script src="assets/js/active_portfolio.js"></script>
</body>

</html>
